{% extends '::frontendg.html.twig' %}

{% block title %}Proveedores Pendientes{% endblock %}



{% block article %}


<div class="container sha well ">


     <ol class="breadcrumb text-left alert alert-success">
        <li><a href="{{ path('portadag') }}">Portada Gerente</a></li>
        <li class="active ">Proveedores Pendientes</li>
      </ol>


    {% for mensaje in app.session.flashbag.get('info') %}
        <p class="bg-warning">{{ mensaje }}</p>
    {% endfor %}

        
            <div class="col-xs-12 bg-primary" >
            <h2>TODOS LOS PROVEEDORES PENDIENTES:</h2>
            </div>
                                           
              {% if provp %}
              <div class="row">                

                  {% for provp in provp %}
                  <div class="col-xs-12 col-sm-3">
                     <div class="thumbnail" >
                        <div class="caption">
                              <h3>PROVEEDOR:<BR> {{ provp.nombres }} {{ provp.apellidos }}</h3>
                              <p>Empresa: {{ provp.empresa }}</p>
                              <p>Direccion: {{ provp.direccion }}</p>
                              <p>Telefono: {{ provp.telefono }}</p>
                              <p>Fax: {{ provp.fax }}</p>
                              <p>Correo: {{ provp.email }}</p>
                              <p>Fecha de Registro: {{ provp.fechaAlta|date("m/d/Y") }}</p>
                              <p>Estado: {{ provp.estado }}</p>
                              <p><a href="{{ path('proveedor_aprobar', {'id': provp.idproveedor }) }}" class="btn btn-success" onclick="return confirm('¿Esta seguro que desea cambiar el estado del proveedor a aprobado?');"> Aprobar Proveedor </a></p>
                        </div>
                     </div>
                   </div>
                  {% endfor %}
              </div>
              {% endif %}                     
<a href="javascript:history.go(-1)" class="col-sm-12 text-center"><i class="fa fa-reply"></i> Regresar</a>
</div>




{% endblock %}

