{% extends '::frontendo.html.twig' %}

{% block title %}Respuesta y cambio de estado de solicitud{% endblock %}



{% block article %}


<div class="container sha well ">
 <ol class="breadcrumb text-left alert alert-success">
    <li><a href="{{ path('portadao') }}">Portada Operador</a></li>
    <li class="active">Respuesta y cambio de estado de solicitud</li>
  </ol>


<div class="col-sm-12 text-left ">
<h4> Solicitud : {{solicitud.solicitud}} </h4> <h4> Fecha : {{solicitud.fecha|date("m/d/Y")}} </h4>
<h6> Solicitante : {{solicitud.nomsolicitante}} </h6><h6> Elemento : {{solicitud.nomelemento}} </h6> 
</div>

<div class="col-sm-12 ">
<h2 class="bg-primary text-center"><i class="fa fa-pencil-square-o"></i> Responder solicitud y cambiar estado a pendiente:</h2>
</div>


<div class="col-sm-12 ">
<form class="form-horizontal" action="{{ path('respuesta_solicitud', {'id': solicitud.idSolicitud }) }}" method="post" {{ form_enctype(formulario) }}>
    {{ form_errors(formulario) }}


    <fieldset>
    <div class="form-group">
      <div class="bg-danger">{{ form_errors(formulario.respuesta) }}</div>
      <div class="col-sm-3 control-label" >{{ form_label(formulario.respuesta, 'Añadir una respuesta:') }}</div>
      <div class="col-sm-6">
         {{ form_widget(formulario.respuesta, {'attr': {'class': 'form-control', 'placeholder': 'añadir una respuesta.'}})  }}
      </div>
    </div>
    </fieldset>
   
    <div class="form-group">
    <div class="col-sm-offset-6 col-sm-6">
       <input class="btn btn-md btn-success " type="submit" name="" value="Responder solicitud y cambiar estado a pendiente" />
    </div>
  </div>

  {{ form_rest(formulario) }}

</form>
</div>
<a href="javascript:history.go(-1)" class="col-sm-12 text-center"><i class="fa fa-reply"></i> Regresar</a>
</div>

{% endblock %}



