{% extends '::frontend.html.twig' %}

{% block title %}Solicitud de registro{% endblock %}



{% block article %}




<div class="container sha well text-center ">

  <ol class="breadcrumb text-left alert alert-success">
    <li><a href="{{ path('portada') }}">Portada</a></li>
    <li><a href="{{ path('proveedor_login') }}">Proveedor Login</a></li>
    <li class="active">Solicitud Registro Proveedor</li>
  </ol>

<h1 class="bg-primary"><i class="fa fa-user-plus"></i> Solicitud de Registro de Proveedor : </h1> 
Campos Obligatorios: (*)

<form class="form-horizontal" action="{{ path('proveedor_registro') }}" method="post" {{ form_enctype(formulario) }}>
    {{ form_errors(formulario) }}

<div class="row col-sm-12">
  <div class="row col-sm-6">
    <fieldset>
    <legend> <i class="fa fa-hand-o-down"></i> Datos del Proveedor:</legend>
    

    <div class="form-group">
      <div class="bg-danger">{{ form_errors(formulario.nombres) }}</div>
      <div class="col-sm-4 control-label" >{{ form_label(formulario.nombres, '* Nombre:') }}</div>
      <div class="col-sm-8">
         {{ form_widget(formulario.nombres, {'attr': {'class': 'form-control', 'placeholder': 'Digite su nombre'}})  }}
      </div>
    </div>


    <div class="form-group">
      <div class="bg-danger">{{ form_errors(formulario.apellidos) }}</div>
      <div class="col-sm-4 control-label" >{{ form_label(formulario.apellidos, '* Apellidos:') }}</div>
      <div class="col-sm-8">
         {{ form_widget(formulario.apellidos, {'attr': {'class': 'form-control', 'placeholder': 'Digite sus apellidos'}})  }}
      </div>
    </div>

    
    <div class="form-group">
      <div class="bg-danger">{{ form_errors(formulario.empresa) }}</div>
      <div class="col-sm-4 control-label" >{{ form_label(formulario.empresa, '* Empresa:') }}</div>
      <div class="col-sm-8">
         {{ form_widget(formulario.empresa, {'attr': {'class': 'form-control', 'placeholder': 'empresa'}})  }}
      </div>
    </div>
    

    <div class="form-group">
      <div class="bg-danger">{{ form_errors(formulario.direccion) }}</div>
      <div class="col-sm-4 control-label" >{{ form_label(formulario.direccion, '* Dirección:') }}</div>
      <div class="col-sm-8">

         {{ form_widget(formulario.direccion, {'attr': {'class': 'form-control', 'placeholder': 'Digite su dirección'}})  }}
      </div>
    </div>

    <div class="form-group">
      <div class="bg-danger">{{ form_errors(formulario.telefono) }}</div>
      <div class="col-sm-4 control-label" >{{ form_label(formulario.telefono, '* Telefono:') }}</div>
      <div class="col-sm-8">     
         {{ form_widget(formulario.telefono, {'attr': {'class': 'form-control', 'placeholder': 'Digite su telefono'}})  }}
      </div>
    </div>

    <div class="form-group">
      <div class="bg-danger">{{ form_errors(formulario.fax) }}</div>
      <div class="col-sm-4 control-label" >{{ form_label(formulario.fax, 'Fax:') }}</div>
      <div class="col-sm-8">
         {{ form_widget(formulario.fax, {'attr': {'class': 'form-control', 'placeholder': 'Digite su fax'}})  }}
      </div>
    </div>
    </fieldset>
  </div>
  <div class="row col-sm-6">
     <fieldset>
    <legend> <i class="fa fa-hand-o-down"></i> Documentacion:</legend>

    <div class="form-group">
      <div class="bg-danger">{{ form_errors(formulario.documentos) }}</div>
      <div class="col-sm-4 control-label" >{{ form_label(formulario.documentos, '* Documentacion:') }}</div>
      <div class="col-sm-8">
         {{ form_widget(formulario.documentos, {'attr': {'class': 'form-control'}})  }}
         <p class="bg-info small">Archivo en formato pdf con informacion legal y de los productos que ofrece(maximo 10mb)</p>
      </div>
    </div>
    

    </fieldset>

    <fieldset>
    <legend> <i class="fa fa-hand-o-down"></i> Datos de acceso:</legend>

    <div class="form-group">
      <div class="bg-danger">{{ form_errors(formulario.email) }}</div>
      <div class="col-sm-5 control-label">{{ form_label(formulario.email, '* Email:') }}</div>
      <div class="col-sm-7">
        {{ form_widget(formulario.email, {'attr': {'class': 'form-control', 'placeholder': 'Digite su correo'}})  }}
      </div>
    </div>

  
    <div class="form-group">
      <div class="bg-danger ">{{ form_errors(formulario.password.Password) }}</div>
    <div class="col-sm-5 control-label">{{ form_label(formulario.password.Password, '* Contraseña:') }}</div>
      <div class="col-sm-7">
        {{ form_widget(formulario.password.Password, {'attr': {'class': 'form-control', 'placeholder': 'Digite su contraseña (mínimo 6 caracteres)'}})  }}
      </div>
    </div>

    <div class="form-group">
      <div class="bg-danger ">{{ form_errors(formulario.password.Repita_password) }}</div>
    <div class="col-sm-5 control-label">{{ form_label(formulario.password.Repita_password, '* Repita su contraseña:') }}</div>
      <div class="col-sm-7">
        {{ form_widget(formulario.password.Repita_password, {'attr': {'class': 'form-control', 'placeholder': 'Repita su contraseña'}})  }}
      </div>
    </div>


    </fieldset>
    </div>
  </div>
    <div class="form-group">
    <div class="col-sm-offset-6 col-sm-6">
       <input class="btn btn-lg btn-primary " type="submit" name="" value="  Enviar Solicitud  " />
    </div>
  </div>

  {{ form_rest(formulario) }}

</form>

<a href="javascript:history.go(-1)" class="col-sm-12 text-center"><i class="fa fa-reply"></i> Regresar</a>
</div>




{% endblock %}

