{% extends '::frontend.html.twig' %}

{% block title %}Mis Reservas pagadas{% endblock %}



{% block article %}

<div class="container sha well ">


     <ol class="breadcrumb text-left alert alert-success">
        <li><a href="{{ path('portada') }}">Portada</a></li>
        <li class="active ">Mis Compras </li>
      </ol>


    {% for mensaje in app.session.flashbag.get('info') %}
        <p class="bg-warning">{{ mensaje }}</p>
    {% endfor %}

        
            <div class="col-xs-12 bg-primary" >
            <h2>MIS COMPRAS:</h2>
            </div>

            {% if reservas == null %}

            <div class="col-xs-12 bg-info" >
            <h2>No se encontraron compras.</h2>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            {% endif %}
                                           
              {% if reservas %}
              <div class="row">                

                  {% for reservas in pagreservas %}
                  <div class="col-xs-12 col-sm-3">
                     <div class="thumbnail" >
                        <div class="caption">
                              <h3>{{ reservas.nombrePaquete }}</h3>
                              <p><B>Numero Adultos:</B> {{ reservas.adultos }}</p>
                              <p><B>Numero Niños:</B> {{ reservas.ninos }}</p>
                              <p><B>Duracion:</B> {{ reservas.duracion }} días</p>
                              <p><B>Inicio del Paquete:</B> {{ reservas.fechaInicio|date("d/m/Y") }}</p>
                              <p><B>Cierre del Paquete:</B> {{ reservas.fechaCierre|date("d/m/Y") }}</p>
                              <p><B>Precio del Paquete:</B> ${{ reservas.precioPaquete|number_format( 0,'', '.') }} </p>
                              <p><B>Precio Total Reserva:</B>$ {{ reservas.precioTotal|number_format( 0,'', '.') }} </p>
                              <p><B>Estado:</B> {{ reservas.estado }}</p>
                            <p>
                            <div class="btn-group btn-group" role="group" >
                            <a href="{{ path('detalles_compra', { 'id': reservas.idreserva }) }}" class="btn btn-md btn-primary">Detalles </a>
                            </div>
                            <div class="btn-group btn-group" role="group" >
                            {#<a href="#" class="btn btn-md btn-success">Ver Factura </a>#}
                            </div>
                            </div> 
                            </p>
                        </div>
                     </div>
                   </div>
                  {% endfor %}
                  <div class="col-sm-12  text-center ">
                  {{ knp_pagination_render(pagreservas) }}
                  </div>
              </div>
              {% endif %}     
<a href="javascript:history.go(-1)" class="col-sm-12 text-center"><i class="fa fa-reply"></i> Regresar</a>
</div>

{% endblock %}