{% extends '::frontendp.html.twig' %}

{% block title %}Proveedor Portada{% endblock %}



{% block article %}


<div class="container sha well ">
 <ol class="breadcrumb text-left alert alert-success">
    <li class="active">Portada Proveedores</li>
  </ol>


   

{% for mensaje in app.session.flashbag.get('info') %}
    <p class="info">{{ mensaje }}</p>
{% endfor %}


{% if productos %}
<div class="col-xs-12 col-sm-9 bg-primary">
<h2>MIS PRODUCTOS:</h2>
</div>
<div class="col-xs-12 col-sm-3 text-center">
<a href="{{ path('producto_nuevo') }}" class="btn btn-lg btn-primary"> Añadir Producto </a>
</div>



{% for producto in productos %}
<div class="col-xs-12 col-sm-6 col-md-6 ">
   <div class="thumbnail">
      <img src="{{ asset('uploads/images/' ~ producto.foto) }}" alt="imagen" class="img-thumbnail col-xs-4  ">
      <div class="caption">
            <h3>{{ producto.nombre }}</h3>
            <p>{{ producto.descripcion[0:280] }}...</p>
          
          <div class="btn-group">
         <a href="{{ path('producto_verdetalles', { 'id': producto.idproducto }) }}" class="btn btn-primary"> Ver Detalles </a>
          </div>
          {% if producto.estado == 'Creando' %}
          <div class="btn-group">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Añadir Servicios
            <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                
                {% if producto.tipoProducto == 'Alojamiento' %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('nuevo_Alojamiento', {'id': producto.idproducto }) }}">Servicio Alojamiento</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('nuevo_Alimentacion', {'id': producto.idproducto }) }}">Servicio Alimentacion</a></li>
                {% endif %}

                {% if producto.tipoProducto == 'Alimentacion' %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('nuevo_Alimentacion', {'id': producto.idproducto }) }}">Servicio Alimentacion</a></li>
                {% endif %}

                {% if producto.tipoProducto == 'Excursion' %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('nuevo_Excursion', {'id': producto.idproducto }) }}">Servicio Excursion</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('nuevo_Alojamiento', {'id': producto.idproducto }) }}">Servicio Alojamiento</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('nuevo_Alimentacion', {'id': producto.idproducto }) }}">Servicio Alimentacion</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('nuevo_Vehiculo', {'id': producto.idproducto }) }}">Servicio Vehiculo</a></li>
                {% endif %}

                {% if producto.tipoProducto == 'Vehiculo' %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('nuevo_Vehiculo', {'id': producto.idproducto }) }}">Servicio Vehiculo</a></li>
                {% endif %}
                
                {% if producto.tipoProducto == 'Vuelo' %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('nuevo_Vuelo', {'id': producto.idproducto }) }}">Servicio Vuelo</a></li>
                {% endif %}
            </ul>
          
          </div>        
          </div>
          {% endif %}
          {% if producto.estado == 'Solicitud registro' %}
          <a href="{{ path('producto_editar', {'id': producto.idproducto }) }}" class="btn btn-default"> Editar </a>
          <p class="bg-info small">el producto se encuentra en estudio(pendiente de aprobacion)</p>
          {% endif %}
          
          
          
      </div>
   </div>
 </div>
{% endfor %}
{% else %}
<div class="col-xs-10 bg-primary">
<h2>AUN NO SE HAN CREADO PRODUCTOS:</h2>
</div>

<div class="col-xs-2 ">
<a href="{{ path('producto_nuevo') }}" class="btn btn-lg btn-primary"> Añadir Producto </a>
</div>
{% endif %}


</div>




{% endblock %}

