{% extends '::frontendp.html.twig' %}

{% block title %}Ver mas Servicio Alimentacion{% endblock %}



{% block article %}

<div class="container sha well ">

<ol class="breadcrumb text-left alert alert-success">
    <li><a href="{{ path('portadap') }}">Portada Proveedor</a></li>
    <li><a href="{{ path('producto_verdetalles', { 'id': producto.idproducto }) }}">Detalles Producto</a></li>
    <li class="active">Ver mas Servicio Alimentacion</li>
  </ol>

 
{% for mensaje in app.session.flashbag.get('info') %}
    <p class="bg-warning">{{ mensaje }}</p>
{% endfor %}



<div class="col-xs-12 col-sm-9 bg-primary">
<h2>Servicio: {{alimentacion.nombre}}</h2>
</div>



<div class="col-xs-12 ">
   <div class="thumbnail">
      <img src="{{ asset('uploads/images/alimentacion/' ~ alimentacion.foto) }}" alt="imagen" class="img-thumbnail col-xs-12 col-sm-5">
      <div class="caption">

            <h3>{{ alimentacion.nombre }}</h3>
            <p><B>Tipo de Servicio:</B> {{ alimentacion.tipo }}</p>
            <p><B>Hora:</B> {{ alimentacion.hora|date("g:ia") }}</p>              
            <p><B>Direccion:</B> {{ alimentacion.direccion }}</p>
            <p><B>Detalles:</B> {{ alimentacion.detalles }}</p>
            <p><B>Precio:</B> ${{ alimentacion.precio }}</p>
            <p><B>Fecha de Creacion:</B> {{ alimentacion.fechaCreacion|date("m/d/Y") }}</p>
          
      </div>
   </div>
 </div>

<a href="javascript:history.go(-1)" class="col-sm-12 text-center"><i class="fa fa-reply"></i> Regresar</a>
</div>




{% endblock %}

