{% extends '::frontenda.html.twig' %}
{% block title %}Portada{% endblock %}



{% block article %} 


<div class="container sha well ">


        <a href="{{ path('portadaa') }}" class="col-sm-2 btn btn-sm btn-success">
            Lista de Paquetes
        </a>

        <a href="{{ path('paquete_edit', { 'id': entity.idpaqueteTuristico }) }}" class="col-sm-2 btn btn-sm btn-primary">
            Editar
        </a>

        <form action="{{ path('paquete_delete', { 'id': entity.idpaqueteTuristico }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="col-sm-2 btn btn-sm btn-danger" type="submit" onclick="return confirm('¿Esta seguro que desea borrar este paquete?');">Borrar</button>
        </form>
 

<h1 class="col-sm-12 bg-primary">Paquete Turistico</h1>

<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.idpaqueteTuristico }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Foto</th>
            <td>{{ entity.foto }}</td>
        </tr>
        <tr>
            <th>Preciototal</th>
            <td>{{ entity.preciototal }}</td>
        </tr>
        <tr>
            <th>Creadocliente</th>
            <td>{{ entity.creadocliente }}</td>
        </tr>
        <tr>
            <th>Creador</th>
            <td>{{ entity.creador }}</td>
        </tr>
        <tr>
            <th>Descripcion</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
        <tr>
            <th>Detalles</th>
            <td>{{ entity.detalles }}</td>
        </tr>
        <tr>
            <th>Duracion</th>
            <td>{{ entity.duracion }}</td>
        </tr>
        <tr>
            <th>Estado</th>
            <td>{{ entity.estado }}</td>
        </tr>
        <tr>
            <th>Plazas</th>
            <td>{{ entity.plazas }}</td>
        </tr>
        <tr>
            <th>Reservas</th>
            <td>{{ entity.reservas }}</td>
        </tr>
        <tr>
            <th>Fechacreacion</th>
            <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Fechacierre</th>
            <td>{{ entity.fechaCierre|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Observaciones</th>
            <td>{{ entity.observaciones }}</td>
        </tr>
    </tbody>
</table>


        <a href="{{ path('portadaa') }}" class="col-sm-2 btn btn-sm btn-success">
            Lista de Paquetes
        </a>
   
        <a href="{{ path('paquete_edit', { 'id': entity.idpaqueteTuristico }) }}" class="col-sm-2 btn btn-sm btn-primary">
            Editar
        </a>
   
        <form action="{{ path('paquete_delete', { 'id': entity.idpaqueteTuristico }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="col-sm-2 btn btn-sm btn-danger" type="submit" onclick="return confirm('¿Esta seguro que desea borrar este paquete?');">Borrar</button>
        </form>
 
</div>
{% endblock %}